.brochure {
  h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
  }

  h2, h3 {
    margin-top: 1em;
    margin-bottom: 0.3em;
  }

  .callout {
    background-color: $yellow;
    padding: 5vmin;
    margin: 5vh -5vmin;
    display: block;

    h3 {
      margin-bottom: 0.2em;
    }

    :first-child {
      margin-top: 0;
    }

    :last-child {
      margin-bottom: 0;
    }
  }

  .image {
    position: relative;
    color: #fff;
    background-size: cover;
    background-position: center;

    div {
      background-size: cover;
      background-position: center;
    }

    p {
      position: absolute;
      right: 1.2vmin;
      bottom: 1.2vmin;
      padding: 0;
      margin: 0;
      font-size: 10px;
      opacity: 0.5;
      transform: rotate(-90deg);
      width: 10px;
      height: 10px;
      white-space: nowrap;
    }

    a {
      color: inherit;
    }
  }

  .text {
    padding: 0 10vmin 7vmin 10vmin;
  }

  .cover {
    height: 100vh;
    background-color: $primary-colour;
    color: #fff;

    .image {
      @include greyscale;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: -1;

      @media (min-width: $sm-w) {
        position: relative;
        z-index: auto;
      }
    }

    .text {
      display: flex;
      align-items: center;
      height: 100vh;
      font-size: 3.5vmin;

      @media (min-width: $sm-w) {
        font-size: 2.5vmin;
      }


      svg {
        fill: currentColor;
        width: 75vw;
        height: 75vw * 0.205;

        @media (min-width: $sm-w) {
          width: 11vmin * 4.887;
          height: 11vmin;
        }
      }

      h1 {
        font-size: 5vmin;
        padding-left: 0.4em;

        @media (min-width: $sm-w) {
          font-size: 4vmin;
        }

        & > span {
          position: relative;
          display: inline-block;

          &:before {
            content: '';
            position: absolute;
            top: -0.2em;
            right: -0.4em;
            bottom: -0.2em;
            left: -0.4em;
            background-color: $secondary-colour;
          }

          &:last-child {
            display: none;;
          }

          span {
            position: relative;
            z-index: 1;
          }
        }
      }
    }

    .image,
    .text {
      box-sizing: border-box;

      @media (min-width: $sm-w) {
        height: 50vh;
      }
    }

    .next {
      position: absolute;
      bottom: 1vh;
      left: 50%;
      width: 6vmin;
      height: 6vmin;
      margin-left: -3vmin;
      color: inherit;

      svg {
        width: 100%;
        height: 100%;
        fill: currentColor;
      }
    }
  }

  section {
    line-height: 1.6;
    padding-top: 7vmin;

    @media (min-width: $sm-w) {
      padding-top: 0;
    }

    .image {
      display: none;

      @media (min-width: $sm-w) {
        display: block;
        height: 50vh;
        margin-bottom: 7vmin;
      }
    }

    .text {
      @media (min-width: $md-w) {
        display: flex;
        margin-left: -10vmin;
        font-size: 1.2vw;

        div {
          flex-grow: 1;
          flex-basis: 0;
          display: flex;
          flex-direction: column;
          padding-left: 10vmin;

          .image {
            flex-grow: 1;
            margin-top: 5vmin;
          }

          :first-child {
            margin-top: 0;
          }
        }
      }
    }

    & > h2 {
      padding-left: 10vmin;
      padding-right: 10vmin;

      & + .text {
        padding-top: 0;
      }
    }
  }
}
