{% extends "layout.html" %}
{% block title %}OKFestival {{ this.title }}{% endblock %}
{% block body %}
<header class="cover">
  <div class="image"{% if this.cover %} style="background-image: url({{ this.cover }});"{% endif %}>
  </div>
  <div class="text">
    <div>
      {% include 'includes/logo.svg' %}
      {% set title_words = this.title.split(' ') %}
      <h1>
        {% for w in title_words %}<span><span>{{ w }}</span></span><span><span>&nbsp;</span></span>{% endfor %}
      </h1>
      <span>{{ this.start_date.strftime('%-d') }}-{{ this.end_date.strftime('%-d %B %Y') }}. {{ this.place }}</span>
    </div>
  </div>
  <a class="next" href="#content" data-scroll>{% include 'includes/down.svg' %}</a>
</header>

<section id="content">
  <div class="image" style="background-image: url({{ this.img1 }});">
  </div>
  <div class="text">
    <div>
      <div>
        <h2>{{ this.heading1 }}</h2>
        {{ this.content1 }}
        <h2>{{ this.heading2 }}</h2>
        {{ this.content2 }}
      </div>
    </div>
    <div>
      <div>
        <h2>{{ this.heading3 }}</h2>
        {{ this.content3 }}
      </div>

      <span class="image" style="background-image: url({{ this.img2 }});">
      </span>
    </div>
  </div>

  <div class="image" style="background-image: url({{ this.img3 }});">
  </div>
  <h2>{{ this.heading4 }}</h2>
  <div class="text">
    <div>
      {{ this.content4 }}
      <div class="callout">
        <h3>{{ this.heading5 }}</h3>
        {{ this.content5 }}
      </div>
    </div>
    <div>
      <h3>{{ this.heading6 }}</h3>
      {{ this.content6 }}
    </div>
  </div>

  <div class="image" style="background-image: url({{ this.img4 }});">
  </div>
  <div class="text">
    <div>
      <div>
        <h2>{{ this.heading7 }}</h2>
        {{ this.content7 }}
      </div>
    </div>
    <div>
      <div>
        <h2>{{ this.heading8 }}</h2>
        {{ this.content8 }}
      </div>
    </div>
  </div>

  <div class="sponsorship">
    <h2>{{ this.sponsor_heading }}</h2>
    {{ this.sponsor_intro }}
    <table class="comparison">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th class="level1">{{ this.sponsor_level1_title }}</th>
          <th class="level2">{{ this.sponsor_level2_title }}</th>
          <th class="level3">{{ this.sponsor_level3_title }}</th>
        </tr>
      </thead>
      <tbody>
        {% if this.sponsor_perk1 %}
        <tr>
          <th>{{ this.sponsor_perk1 }}</th>
          <td class="level1">{% if this.sponsor_level1_perk1 %}{% include 'includes/checkmark.svg' %}{% endif %}</td>
          <td class="level2">{% if this.sponsor_level2_perk1 %}{% include 'includes/checkmark.svg' %}{% endif %}</td>
          <td class="level3">{% if this.sponsor_level3_perk1 %}{% include 'includes/checkmark.svg' %}{% endif %}</td>
        </tr>
        {% endif %}
        {% if this.sponsor_perk2 %}
        <tr>
          <th>{{ this.sponsor_perk2 }}</th>
          <td class="level1">{% if this.sponsor_level1_perk2 %}{% include 'includes/checkmark.svg' %}{% endif %}</td>
          <td class="level2">{% if this.sponsor_level2_perk2 %}{% include 'includes/checkmark.svg' %}{% endif %}</td>
          <td class="level3">{% if this.sponsor_level3_perk2 %}{% include 'includes/checkmark.svg' %}{% endif %}</td>
        </tr>
        {% endif %}
        {% if this.sponsor_perk3 %}
        <tr>
          <th>{{ this.sponsor_perk3 }}</th>
          <td class="level1">{% if this.sponsor_level1_perk3 %}{% include 'includes/checkmark.svg' %}{% endif %}</td>
          <td class="level2">{% if this.sponsor_level2_perk3 %}{% include 'includes/checkmark.svg' %}{% endif %}</td>
          <td class="level3">{% if this.sponsor_level3_perk3 %}{% include 'includes/checkmark.svg' %}{% endif %}</td>
        </tr>
        {% endif %}
        {% if this.sponsor_perk4 %}
        <tr>
          <th>{{ this.sponsor_perk4 }}</th>
          <td class="level1">{% if this.sponsor_level1_perk4 %}{% include 'includes/checkmark.svg' %}{% endif %}</td>
          <td class="level2">{% if this.sponsor_level2_perk4 %}{% include 'includes/checkmark.svg' %}{% endif %}</td>
          <td class="level3">{% if this.sponsor_level3_perk4 %}{% include 'includes/checkmark.svg' %}{% endif %}</td>
        </tr>
        {% endif %}
        {% if this.sponsor_perk5 %}
        <tr>
          <th>{{ this.sponsor_perk5 }}</th>
          <td class="level1">{% if this.sponsor_level1_perk5 %}{% include 'includes/checkmark.svg' %}{% endif %}</td>
          <td class="level2">{% if this.sponsor_level2_perk5 %}{% include 'includes/checkmark.svg' %}{% endif %}</td>
          <td class="level3">{% if this.sponsor_level3_perk5 %}{% include 'includes/checkmark.svg' %}{% endif %}</td>
        </tr>
        {% endif %}
        {% if this.sponsor_perk6 %}
        <tr>
          <th>{{ this.sponsor_perk6 }}</th>
          <td class="level1">{% if this.sponsor_level1_perk6 %}{% include 'includes/checkmark.svg' %}{% endif %}</td>
          <td class="level2">{% if this.sponsor_level2_perk6 %}{% include 'includes/checkmark.svg' %}{% endif %}</td>
          <td class="level3">{% if this.sponsor_level3_perk6 %}{% include 'includes/checkmark.svg' %}{% endif %}</td>
        </tr>
        {% endif %}
        {% if this.sponsor_perk7 %}
        <tr>
          <th>{{ this.sponsor_perk7 }}</th>
          <td class="level1">{% if this.sponsor_level1_perk7 %}{% include 'includes/checkmark.svg' %}{% endif %}</td>
          <td class="level2">{% if this.sponsor_level2_perk7 %}{% include 'includes/checkmark.svg' %}{% endif %}</td>
          <td class="level3">{% if this.sponsor_level3_perk7 %}{% include 'includes/checkmark.svg' %}{% endif %}</td>
        </tr>
        {% endif %}
        {% if this.sponsor_perk8 %}
        <tr>
          <th>{{ this.sponsor_perk8 }}</th>
          <td class="level1">{% if this.sponsor_level1_perk8 %}{% include 'includes/checkmark.svg' %}{% endif %}</td>
          <td class="level2">{% if this.sponsor_level2_perk8 %}{% include 'includes/checkmark.svg' %}{% endif %}</td>
          <td class="level3">{% if this.sponsor_level3_perk8 %}{% include 'includes/checkmark.svg' %}{% endif %}</td>
        </tr>
        {% endif %}
        {% if this.sponsor_perk9 %}
        <tr>
          <th>{{ this.sponsor_perk9 }}</th>
          <td class="level1">{% if this.sponsor_level1_perk9 %}{% include 'includes/checkmark.svg' %}{% endif %}</td>
          <td class="level2">{% if this.sponsor_level2_perk9 %}{% include 'includes/checkmark.svg' %}{% endif %}</td>
          <td class="level3">{% if this.sponsor_level3_perk9 %}{% include 'includes/checkmark.svg' %}{% endif %}</td>
        </tr>
        {% endif %}
        {% if this.sponsor_perk10 %}
        <tr>
          <th>{{ this.sponsor_perk10 }}</th>
          <td class="level1">{% if this.sponsor_level1_perk10 %}{% include 'includes/checkmark.svg' %}{% endif %}</td>
          <td class="level2">{% if this.sponsor_level2_perk10 %}{% include 'includes/checkmark.svg' %}{% endif %}</td>
          <td class="level3">{% if this.sponsor_level3_perk10 %}{% include 'includes/checkmark.svg' %}{% endif %}</td>
        </tr>
        {% endif %}
        {% if this.sponsor_perk11 %}
        <tr>
          <th>{{ this.sponsor_perk11 }}</th>
          <td class="level1">{% if this.sponsor_level1_perk11 %}{% include 'includes/checkmark.svg' %}{% endif %}</td>
          <td class="level2">{% if this.sponsor_level2_perk11 %}{% include 'includes/checkmark.svg' %}{% endif %}</td>
          <td class="level3">{% if this.sponsor_level3_perk11 %}{% include 'includes/checkmark.svg' %}{% endif %}</td>
        </tr>
        {% endif %}
        {% if this.sponsor_perk12 %}
        <tr>
          <th>{{ this.sponsor_perk12 }}</th>
          <td class="level1">{% if this.sponsor_level1_perk12 %}{{ this.sponsor_level1_perk12 }}{% endif %}</td>
          <td class="level2">{% if this.sponsor_level2_perk12 %}{{ this.sponsor_level2_perk12 }}{% endif %}</td>
          <td class="level3">{% if this.sponsor_level3_perk12 %}{{ this.sponsor_level3_perk12 }}{% endif %}</td>
        </tr>
        <tr>
          <th>{{ this.sponsor_perk13 }}</th>
          <td class="level1">{% if this.sponsor_level1_perk13 %}{{ this.sponsor_level1_perk13 }}{% endif %}</td>
          <td class="level2">{% if this.sponsor_level2_perk13 %}{{ this.sponsor_level2_perk13 }}{% endif %}</td>
          <td class="level3">{% if this.sponsor_level3_perk13 %}{{ this.sponsor_level3_perk13 }}{% endif %}</td>
        </tr>
        {% endif %}
        <tr class="prices">
          <th></th>
          <td class="level1">{% if this.sponsor_level1_cost %}{{ "€{:,}".format(this.sponsor_level1_cost) }}{% endif %}</td>
          <td class="level2">{% if this.sponsor_level2_cost %}{{ "€{:,}".format(this.sponsor_level2_cost) }}{% endif %}</td>
          <td class="level3">{% if this.sponsor_level3_cost %}{{ "€{:,}".format(this.sponsor_level3_cost) }}{% endif %}</td>
        </tr>
      </tbody>
    </table>
    <small class="comparison-footer">{{ this.sponsor_fineprint }}</small>

    <h3>{{ this.sponsor_items_heading }}</h3>

    <div class="sponsor-items">
      <div>
        <h4>{{ this.sponsor_item1_title }}</h4>
        {{ this.sponsor_item1_description }}
        {% if this.sponsor_item1_cost %}
        <span>{{ "€{:,}".format(this.sponsor_item1_cost) }}</span>
        {% endif %}
      </div>
      <div>
        <h4>{{ this.sponsor_item2_title }}</h4>
        {{ this.sponsor_item2_description }}
        {% if this.sponsor_item2_cost %}
        <span>{{ "€{:,}".format(this.sponsor_item2_cost) }}</span>
        {% endif %}
      </div>
      <div>
        <h4>{{ this.sponsor_item3_title }}</h4>
        {{ this.sponsor_item3_description }}
        {% if this.sponsor_item3_cost %}
        <span>{{ "€{:,}".format(this.sponsor_item3_cost) }}</span>
        {% endif %}
      </div>
      <div>
        <h4>{{ this.sponsor_item4_title }}</h4>
        {{ this.sponsor_item4_description }}
        {% if this.sponsor_item4_cost %}
        <span>{{ "€{:,}".format(this.sponsor_item4_cost) }}</span>
        {% endif %}
      </div>
      <div>
        <h4>{{ this.sponsor_item5_title }}</h4>
        {{ this.sponsor_item5_description }}
        {% if this.sponsor_item5_cost %}
        <span>{{ "€{:,}".format(this.sponsor_item5_cost) }}</span>
        {% endif %}
      </div>
      <div>
        <h4>{{ this.sponsor_item6_title }}</h4>
        {{ this.sponsor_item6_description }}
        {% if this.sponsor_item6_cost %}
        <span>{{ "€{:,}".format(this.sponsor_item6_cost) }}</span>
        {% endif %}
      </div>
    </div>

    <div class="sponsorship-footer">
      {{ this.sponsor_footer }}
    </div>

    <div class="partner-intro">
      <h2>{{ this.partner_heading }}</h2>
      {{ this.partner_intro }}
    </div>

    <div class="sponsor-items">
      <div>
        <h4>{{ this.partner_item1_title }}</h4>
        {{ this.partner_item1_description }}
        {% if this.partner_item1_cost %}
        <span>{{ "€{:,}".format(this.partner_item1_cost) }}</span>
        {% endif %}
      </div>
      <div>
        <h4>{{ this.partner_item2_title }}</h4>
        {{ this.partner_item2_description }}
        {% if this.partner_item2_cost %}
        <span>{{ "€{:,}".format(this.partner_item2_cost) }}</span>
        {% endif %}
      </div>
      <div>
        <h4>{{ this.partner_item3_title }}</h4>
        {{ this.partner_item3_description }}
        {% if this.partner_item3_cost %}
        <span>{{ "€{:,}".format(this.partner_item3_cost) }}</span>
        {% endif %}
      </div>
      <div>
        <h4>{{ this.partner_item4_title }}</h4>
        {{ this.partner_item4_description }}
        {% if this.partner_item4_cost %}
        <span>{{ "€{:,}".format(this.partner_item4_cost) }}</span>
        {% endif %}
      </div>
    </div>
  </div>
</section>
<footer class="footer">
  <div class="logos">
    {% if this.org_one_name %}
    <a{% if this.org_one_url %} href="{{ this.org_one_url }}"{% endif %}>
      <img src="{{ this.org_one_logo|url }}" alt="{{ this.org_one_name }}" />
      {# (horrible) IE workaround for incorrect svg widths #}
      {% if this.org_one_width and this.org_one_height %}
      <canvas width="{{ this.org_one_width }}" height="{{ this.org_one_height }}"></canvas>
      {% endif %}
    </a>
    {% endif %}
    {% if this.org_two_name %}
    <a{% if this.org_two_url %} href="{{ this.org_two_url }}"{% endif %}>
      <img src="{{ this.org_two_logo|url }}" alt="{{ this.org_two_name }}" />
      {# (horrible) IE workaround for incorrect svg widths #}
      {% if this.org_two_width and this.org_two_height %}
      <canvas width="{{ this.org_two_width }}" height="{{ this.org_two_height }}"></canvas>
      {% endif %}
    </a>
    {% endif %}
  </div>
  <div class="contact">
    {{ this.contact_details }}
  </div>
</footer>
{% endblock %}
