<!doctype html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="//fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700,800" rel="stylesheet">
<link rel="stylesheet" href="{{ '/css/style.css'|url }}">
<title>{% block title %}{{ this.title }}{% endblock %}{% if this.start_date %} {{ this.start_date.strftime('%Y') }}{% endif %}</title>
<body class="{{ this._model }}">

  {% block body %}{% endblock %}

  <script src="{{ '/js/smooth-scroll.min.js'|url }}"></script>
  <script>
    smoothScroll.init();
  </script>
</body>
